body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: background-color 0.2s;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    /* color: rgb(49, 0, 183); */
    background-color: antiquewhite;
}


.links {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}
.div-outer {
    margin: 0 auto;
    border: 10px solid grey;
    box-sizing: border-box;
    height: 300px;
    width: 500px;
    background-color: azure;
    overflow: scroll;
}

.div-inner {
    position: relative;
    background-color: khaki;
    height: 1000px;
    width: 1000px;
}

.div-inner-inner {
    background-color: aqua;
    height: 30px;
    width: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}


/*Делегирование событий*/
.highlight {
    background: #ff8282;
}

/*drag and drop*/
.football-gate {
    width: 100px;
    height: 100px;
    background: gray;
}

.droppable {
    background: #ffa9a9;
}
.aaa {
    color: #8fd2ff;
}